<!Doctype html>
<html>
<head>
  <style type = "text/css">
  <title>Alpha blog</title>
    * { margin: 0; padding: 0; }

  body
 {
    font-family: courier;
    background-color: #ebebeb;
  }
  #header
 {
      width: auto;
      height: 100px;
      background-color:#ebebeb;
  }

.container
 {
      width: 700px;
      height: auto;
      margin: 0 auto;
      padding-left: 150;
      font-family: times new roman;
  }
#logoArea
 {
      width: 200px;
      height: 100px;
      background-image: url<%= link_to image_tag('image.jpg')%>;
      float: left;
  }
#navArea
 {
      width:300px;
      height:100px;
      float: right;
  }
#nav
 {
      list-style: none;
       margin-top: 25px;
      margin-left: 0px;
      text-decoration: none


  }
 #nav a
 {
   text-decoration: none;
   color: white;
  }
 #nav li
 {
  float: right;
  margin-left: 4px;
  background-color: lightBlue;
  border: 3px silver solid;
  border-radius: 5px;
  padding: 8px;
  }
#nav li:hover
  {
  background-color: #252525;
  color: black;
  }
  .page
  {
    background-color: 000;
    padding-left: 120px;
    text-align: center;
  }
    #sidebar
    {
      position: absolute;
      width: 150px;
      float: left;
      height: auto;
    }
    .sidenav
    {
      color: black;
      background-color: grey;
      width: 150px;
      height: 100%;
      float: left;
      font-family: arial;
    }
    #sidebar1
    {
      position: auto;
      width: 150px;
      float: right;
      height: 100%;
    }
    .sidenav1
    {
      color: black;
      background-color: ;
      width: 150px;
      height: auto;
      text-align: left;
      font-family: courier;
    }
  #footer
   {
      background-color: #ebebeb;
      width: 500;
      color: black;
      background-color: 000;
      padding-bottom: 20px;
      padding: 14opx;
      margin: 150px;
      height: 100%;
    }
    #p
    {
      margin: 10px;
    }
    #cont
    {
       list-style: none;
    }
    #cont a
    {
      text-decoration: none;
      text-align: center;
      font-family: courier;
    }
    #cont li
    {
      text-decoration: none;
      color: gold;
    }
</style>
</head>
<body>
    <div id = "header">
    <div class = "container">
     <div id = "logoArea"></div>
     <div id = "navArea">
     <ul id = "nav">
      <a><li><%= link_to 'aboutpage', aboutpage_path %></li>
        <li><%= link_to 'homepage', root_path %></li>
       </a>
    </ul>
    </div>
    </div>
    </div>
      <div id = "sidebar">
        <div class = "sidenav">
           <ul id = "cont">
             </a>
             <h3>features</h3>
         <li><%= link_to 'home', root_path %></li>
         <li><%= link_to 'home', root_path %></li>
          </ul>

          <p><h5> click the links to refresh page.</h3>
          <h5> these links don't work becouse I didn't set the roots, sorry about the delays.</h5>
          </p>
        <p><h3>click the links</h3>
          <h5> these links don't work becouse I didn't set the roots, sorry about the delays.</h5>

        </div>
      </div>
      <div id = "sidebar1">
       <div class = "sidenav1">
        <ul id = "cont">
          <h5>click one the following links to go to about page.</h5>
          <a>
             <li><%= link_to 'link', aboutpage_path %></li>
             <li><%= link_to 'link', aboutpage_path %></li>
          </a>
        </ul>
          <p><h4>click the links</h4>
          <h5> these links don't work becouse I didn't set the roots.</h5>

          <p><h4>click the links</h4>
          <h5> these links don't work becouse I didn't set the roots.</h5>
          <p><h4>click the links</h4>
          </p>
       </div>
      </div>
      <div id = "mainArea">
        <div class = "container page">

          <h1>Welcome to Alpha Blog</h1>

<%= link_to image_tag('image.jpg'),'http://rails-app-207524.nitrousapp.com/'%>
        <p><h4> I am not the author of this picture.</h4>
<h5>This is my test app and I want to change as I go along in the course. There will be more people visiting this site daily and we are working on an improvement so that our users ccan feel the new danamic way we build it.</h5>
        </p>
<p><h4> I am not the author of this picture.</h4>
<h5>This is my test app and I want to change as I go along in the course. There will be more people visiting this site daily and we are working on an improvement so that our users ccan feel the new danamic way we build it.</h5></p>
        <p><h4> I am not the author of this picture.</h4>
<h5>This is my test app and I want to change as I go along in the course. There will be more people visiting this site daily and we are working on an improvement so that our users ccan feel the new danamic way we build it.</h5></p>
        </div>
      </div>
    <div id = "footer">
      <div class = "cont">
        <p>
        <h1><strong>policy </strong></h1>
        <h6> users are advised not to publish article from this website, failiture to comply our terms and conditions will result further access diniel.</h6></p>
</div>

 </div>
</body>
</html>
